body{
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

/*Header*/
header{
height: 69px;
width: 100%;
border-bottom: 1px solid seashell;
background-color: black;
margin: auto;
display: flex;
position: fixed;
position: 0px;
z-index: 1;
align-items: center;
justify-content: space-between;
}

.logo img{
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

nav{
  display: inline-block;
    }

nav span{
  text-decoration: underline;
  padding: 0px 10px;
}

a{
    color: seashell;
}

/*Main section*/
main{
  margin:0px;
  padding-top: 70px;
  display:flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Sub-section Mission*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  background-image:url("../images/img-mission-background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center top;
  }

.heading{
  display:inline-block;
  background-color: black;
  width: 1200px;
  height: 100px;
}

.heading h2, h4, .heading-tea h2, h4{
  padding:10px 0px;
}

/*Sub-section Tea*/
.containerX{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.heading-tea{
display: inline-block;
width: 1000px;
}

.blocks{
  display: inline-flex;
  flex-flow: row wrap;
  width: 1000px;
  justify-content: center;
  align-content: center;
}

.image{
  display:flex;
  flex-direction: column;
}

.size{
  width:300px;
  height:200px;
  background-size: cover;
  margin-top: 20px;
}

#padding{
  padding:0px 50px;
}

.pic-one{
  background-image: url("../images/img-berryblitz.jpg");
}

.pic-two{
  background-image: url("../images/img-spiced-rum.jpg");
  }

.pic-three{
  background-image: url("../images/img-donut.jpg");
    }

.pic-four{
  background-image: url("../images/img-myrtle-ave.jpg");
      }

.pic-five{
  background-image: url("../images/img-bedford-bizarre.jpg");
}

.image h4{
  padding-top:10px;
}

/*Subsection-Locations*/
.containerZ{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  background-image:url("../images/img-locations-background.jpg");
  background-position: initial;
  background-size: auto;



  margin-top: 65px;
  }

  .text{
    display:flex;
    flex-direction: column;
    width: inherit;
    height:inherit;
    justify-content: center;
    align-content: center;
  }

.locations{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  height: 345px;
  margin-top: 15px;
  }

.flex-item{
    display: inline-block;
    background-color: black;
    width: 300px;
    height: 280px;
    opacity:1;
    }

.margin{
  margin: 0px 40px;
}

.flex-item h3{
  padding-top: 15px;
}

.flex-item p{
  margin: 30px 0px;
}

/*Footer*/
.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 285px;
  }

  .contacts{
    display:flex;
    flex-direction: column;
    height:200px;
    width: auto;
    margin-top: 10px;
  }

  h5{
    padding-top: 40px;
  }

  .copyright{
    display: flex;
    text-align: left;
    padding-left:20px;
    width: 100%;
  }
