body{
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/*Header*/
header{
height: 69px;
width: 100%;
border-bottom: 1px solid seashell;
background-color: black;
margin: auto;
display: flex;
position: fixed;
position: 0px;
z-index: 1;
align-items: center;
justify-content: space-between;
}

.logo img{
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

nav{
  display: inline-block;
    }

nav span{
  text-decoration: underline;
  padding: 0px 10px;
}

a{
    color: seashell;
}

/*Main section*/
.main{
  display: flex;
  position: relative;
  padding-top: 70px;

}
/*Subsection - Mission*/
.mission{
  display: flex;
  flex-direction: column;
  width:100%;
  margin:auto;

  align-items: center;
  justify-content: center;
  height: 700px;
}

.background{
  display:flex;
  width: 1200px;
  height: 700px;
  margin: 0px;
  padding:0px;
  align-items: center;
  justify-content: center;
}

.heading{
  display:flex;
  flex-direction: column;
  position:absolute;
  background-color: black;
  width: 1200px;
  height: 120px;
}

h2,
h4{
  margin:0px;
  padding:10px;
  }
